<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM Text Detector</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <form action="{{ url_for('home') }}" method="post">
            <div class="form-group">
                <label for="textInput">Essay Sample (up to 250 characters):</label>
                <input type="text" class="form-control" id="textInput" name="essayInput" maxlength="250" required>
            </div>

            
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
    </div>
    <div class="container mt-5">
        
        {% if prediction_result %}
            <h1>Prediction Result</h1>
            <p>Essay written by: <b>{{ prediction_result }}</b></p>
        {% else %}
            <p></p>
        {% endif %}
    </div>
    
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
